a{
    text-decoration: none;
}
.category_card--hover:hover {
    box-shadow: #f1f2f3;
}
.goodAnswer, .wrongAnswer {
    position: relative;
    top: 0.15em;
    left: 0.3em;
    font-size: 1.3em;
}

.quizz__question {
    font-weight: bold;
}

.goodAnswer, .addIcon {
    color: #12dd12;
}

.wrongAnswer {
    color:red;
}