{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-8 bg-dark p-4  rounded-3">
                <h1 class="text-center mt-5 mb-5">Bienvenue sur le site des sushis à la crème!</h1>
                <img class="mt-4" src="{{ asset("assets/sushiquizz.jpg") }}" alt="Sushi Quizz">
            </div>
        </div>
    </div>

{% endblock %}
