{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center mt-5 mb-5">Modifier mon adresse E-mail</h1>
    <div class="row justify-content-center">
        <div class="col-4 bg-dark p-4  rounded-3">
            {{ form_start(form) }}
            <div>
                <label for="form_mail" class="form-label">E-mail</label>
                {{ form_widget(form.mail, {'attr' : {'class' : 'form-control bg-dark text-light'}}) }}
            </div>
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-danger mt-4 col-6">Modifier</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}