{% extends 'base.html.twig' %}
{% block body %}

    <h1 class="text-center mt-5 mb-5">Creation d'un quiz</h1>
    <div class="row justify-content-center">
        <div class="col-4 bg-dark p-4  rounded-3">
            <form method="post">
                <div class="row justify-content-center">
                    <div class="col-8 text-center">
                        <label for="nbrQuestion">Nombre de question du quizz</label>
                    </div>
                    <div class="row justify-content-center">
                            <select class="col-6 mt-4 mb-4" name="nbrQuestion" id="nbrQuestion">
                                <option value="10">10</option>
                                <option value="20">20</option>
                            </select>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-success col-4">Valider</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}