{% extends 'base.html.twig' %}
{% block body %}
    <div class="container bg-dark text-light p-5 mt-5 rounded-3">
        <h5 class="card-title quiz__card--name mb-5 h6">Quizz : {{ quiz.idCategorie.name }}</h5>
        <div class="question">
            <div class="text-center h3 mb-5">{{ quiz.question }}</div>
            <div class="row">
                {% for reponse in reponses %}
                    <div class="col-md-4">
                        <a href="{{ path('quiz', {'id': quiz.idCategorie.id , 'question': quiz.id, 'nbrQuestion': nbrQuestion, 'lastResponse': reponse.id }) }}">
                            <div class="card quiz__card bg_dark--custom category_card--hover">
                                <div class="card-body">
                                    <h5 class="card-title quiz__card--name text-light text-center">{{ reponse.reponse }}</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}
